{% extends "base.html" %}

{% load static %}

{% load bag_tools %}

{% block content %}

<div class="cart-table-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="cart-title mt-50">
                    <h2>Shopping Cart</h2>
                </div>

                <div class="cart-table clearfix">
                    <table class="table table-responsive text-center">
                        <thead>

                            {% if bag_items %}

                            <tr>
                                <th>Image</th>

                                <th>Name</th>

                                <th>Quantity</th>

                                <th>Value</th>

                                {% else %}

                                {% endif %}

                            </tr>
                        </thead>

                        <tbody>
                            <tr>

                                {% if bag_items %}

                                {% for item in bag_items %}


                                <!-- Item Image -->
                                <td class="cart_product_img">

                                    {% if item.antiquity.image %}

                                    <a class="gallery_img" href="{{ item.antiquity.image.url }}"><img
                                            src="{{ item.antiquity.image.url }}" alt="{{ item.name }}"></a>

                                    {% else %}

                                    <a class="gallery_img" href="{% static 'images/core_img/no_image_1.jpg' %}"><img
                                            src="{% static 'images/core_img/no_image_1.jpg' %}"
                                            alt="No Image Available"></a>

                                    {% endif %}

                                </td>


                                <!-- Item Name -->
                                <td class="cart_product_desc">
                                    <h5><a
                                            href="{% url 'single_antiquity' item.antiquity.id %}">{{ item.antiquity.name }}</a>
                                    </h5>
                                </td>

                                <!-- Item Quantity -->
                                <td class="cart_product_desc mt-5">
                                    <form class="update-form" action="{% url 'adjust_bag' item.antiquity.id %}"
                                        method="POST">

                                        {% csrf_token %}

                                        <div class="form-row w-75 ml-3">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <input type="number" class="form-control qty_input"
                                                            name="quantity" value="{{ item.quantity }}" min="0"
                                                            max="100" data-item_id="{{ item.antiquity.id }}"
                                                            id="id_qty_{{ item.antiquity.id }}">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- <div class="col-12">
                                                <input type="submit" class="btn amado-btn" value="Add to Cart">
                                            </div>
                                            <input type="hidden" name="redirect_url" value="{{ request.path }}"> -->
                                        </div>
                                    </form>

                                    <!-- Quantity Update Link -->
                                    <a class="update-link text-info float-center add-cursor">Update</a>
                                </td>

                                <!-- Item Value -->
                                <td class="price mt-5">
                                    <span>€{{ item.antiquity.value | calc_subtotal:item.quantity }}</span><br><br>

                                    <!-- Delete Item Link  -->
                                    <a class="remove-item text-danger float-center add-cursor"
                                        id="remove_{{ item.item_id }}">Remove</a>
                                </td>
                            </tr>

                            {% endfor %}

                            {% else %}

                            <div class="cart-btn mt-50">
                                <p class="lead">Your cart is empty</p>

                                <a href="{% url 'all_antiquities' %}" class="btn amado-btn mt-30">Find Antiquities</a>
                            </div>

                            {% endif %}

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="cart-summary">
                    <h5>Cart Total</h5>
                    <ul class="summary-table">
                        <li><span>Cultures <br> Supported:</span> <span>

                                {% for item in bag_items %}

                                - {{ item.antiquity.culture }} <br>

                                {% endfor %}

                            </span></li>
                        <li><span>Number of Items:</span> <span class="mr-4">{{ product_count }}</span></li>

                        <li><span>Total Donation:</span> <span>€{{ total|floatformat:2 }}</span></li>
                    </ul>
                    <div class="cart-btn mt-100">
                        <a href="{% url 'checkout' %}" class="btn amado-btn w-100">Donate</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}

{{ block.super }}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })
    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>

{% endblock %}