{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- Main Landing Page Section -->
<div id="landing-page-section" class="products-catagories-area clearfix">
    <div class="container-fluid">
        <div class="row">
            <div id="main-logo-col" class="col-7">
                <a href="{% url 'home' %}" class="mb-4"><img src="{% static 'images/core_img/logo_main.png' %}"
                        alt="Main Logo"></a>

                <p class="mt-2 mb-4">Welcome. <br> Here you can support our archaeological heritage, by donating to The
                    World Heritage
                    Foundation&trade;. Every donation you make goes directly to help preserve the antiquity you have
                    chosen.
                </p>

                <a href="{% url 'latest_options' %}" class="btn amado-btn mb-15">Donate Now</a>
            </div>
        </div>
    </div>
</div>
<!-- Main Landing Page Section End -->

{% endblock %}