{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- All Antiquities Area Start -->
<div class="shop_sidebar_area">

    <!-- ##### Single Widget ##### -->
    <div class="widget catagory mb-50">
        <!-- Categories -->
        <h6 class="widget-title mb-30">Categories</h6>

        <!--  List of Categories  -->
        <div class="catagories-menu">
            <ul>

                {% for category in categories %}

                <li><a href="#">{{ category.name }}</a></li>

                <!-- Code for active element -->
                <!-- <li class="active"></li> -->

                {% endfor %}

            </ul>
        </div>
    </div>

    <!-- ##### Single Widget ##### -->
    <div class="widget brands mb-50">
        <!-- Periods -->
        <h6 class="widget-title mb-30">Periods</h6>

        <div class="widget-desc">
            <!-- Periods Form Check-->
            
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Neolithic">
                <label class="form-check-label" for="Neolithic">Neolithic</label>
            </div>

            <!-- Extra form checks in case above code doesn't work -->
            <!-- <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Ancient Chinese">
                <label class="form-check-label" for="Ancient Chinese">Ancient Chinese</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Ancient Egyptian">
                <label class="form-check-label" for="Ancient Egyptian">Ancient Egyptian</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Ancient Near-Eastern">
                <label class="form-check-label" for="Ancient Near-Eastern">Ancient Near-Eastern</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Iron Age">
                <label class="form-check-label" for="Iron Age">Iron Age</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Classical">
                <label class="form-check-label" for="Classical">Classical</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Medieval">
                <label class="form-check-label" for="Medieval">Medieval</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Pre-Columbian">
                <label class="form-check-label" for="Pre-Columbian">Pre-Columbian</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Modernity">
                <label class="form-check-label" for="Modernity">Modernity</label>
            </div> -->

        </div>
    </div>

    <!-- ##### Single Widget ##### -->
    <div class="widget price mb-50">
        <!-- Widget Title -->
        <h6 class="widget-title mb-30">Donation Value</h6>

        <div class="widget-desc">
            <div class="slider-range">
                <div data-min="10" data-max="400" data-unit="$"
                    class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
                    data-value-min="10" data-value-max="1000" data-label-result="">
                    <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                </div>
                <div class="range-price">€10 - €400</div>
            </div>
        </div>
    </div>
</div>

<div class="amado_product_area section-padding-100">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="product-topbar d-xl-flex align-items-end justify-content-between">
                    <!-- Total Products -->
                    <div class="total-products golden-text">
                        <!-- Change font-colour to gold -->
                        <p>Showing 1-8 0f 40</p>
                        <div class="view d-flex">
                            <a href="#"><i class="fa fa-th-large" aria-hidden="true"></i></a>
                            <!-- <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a> -->
                        </div>
                    </div>
                    <!-- Sorting -->
                    <div class="product-sorting d-flex">
                        <div class="sort-by-date d-flex align-items-center mr-15">
                            <p>Sort by&nbsp;</p>
                            <form action="#" method="get">
                                <select name="select" id="sortBydate">
                                    <option value="value">Value (Low to High)</option>
                                    <option value="value">Value (High to Low)</option>
                                    <option value="value">Date (Low to High)</option>
                                    <option value="value">Date (High to Low)</option>
                                    <option value="value">Name (A-Z)</option>
                                    <option value="value">Name (Z-A)</option>

                                </select>
                            </form>
                        </div>
                        <div class="view-product d-flex align-items-center">
                            <p>View</p>
                            <form action="#" method="get">
                                <select name="select" id="viewProduct">
                                    <option value="value">8</option>
                                    <option value="value">16</option>
                                    <option value="value">32</option>
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            {% for antiquity in antiquities %}

            <!-- Single Antiquity Area -->
            <div class="col-12 col-sm-6 col-md-12 col-xl-6">
                <div class="single-product-wrapper">
                    <!-- Antiquity Image -->
                    <div class="product-img">

                        {% if antiquity.image %}

                        <img src="{{ antiquity.image.url }}" alt="{{ antiquity.name }}">
                        <!-- Hover Thumb -->
                        <img class="hover-img" src="{{ antiquity.image.url }}" alt="{{ antiquity.name }}">

                        {% else %}

                        <img src="{% static 'images/core_img/no_image_1.jpg' %}" alt="{{ antiquity.name }}">

                        {% endif %}

                    </div>

                    <!-- Antiquity Description -->
                    <div class="product-description d-flex align-items-center justify-content-between">
                        <!-- Antiquity Meta Data -->
                        <div class="product-meta-data">
                            <div class="line"></div>

                            <p class="product-price">€{{ antiquity.value }}</p>

                            <a href="{% url 'single_antiquity' antiquity.id %}">
                                <h6>{{ antiquity.name }}</h6>
                            </a>
                        </div>
                        <!-- Date & Cart -->
                        <div class="ratings-cart text-right">
                            <div class="ratings golden-text">
                                <!-- Maybe the category instead? PQ -->
                                <p>{{ antiquity.date }}</p>
                            </div>

                            <div class="cart">
                                <a href="cart.html" data-toggle="tooltip" data-placement="left" title="Add to Cart"><img
                                        src="{% static 'images/core_img/cart.png' %}" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>

        <div class="row">
            <div class="col-12">
                <!-- Pagination -->
                <nav aria-label="navigation">
                    <ul class="pagination justify-content-end mt-50">
                        <li class="page-item active"><a class="page-link" href="#">01.</a></li>

                        <li class="page-item"><a class="page-link" href="#">02.</a></li>

                        <li class="page-item"><a class="page-link" href="#">03.</a></li>

                        <li class="page-item"><a class="page-link" href="#">04.</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- All Antiquities Area End -->

{% endblock %}