{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- All Antiquities Area Start -->
<div class="shop_sidebar_area">

    <!-- ##### Single Widget ##### -->
    <div class="widget catagory mb-50">
        <!-- Categories -->
        <h6 class="widget-title mb-30">Categories</h6>

        <div class="catagories-menu">
            <ul>

                <!-- Original template solution for category search, didn't work -->
                <!-- {% for category in categories %}

                <li><a class="{% if category.name == selected %} active {% endif %}" href="{% url 'all_antiquities' %}?category={{ category.name }}">{{ category.name }}</a></li>

                {% endfor %} -->

                <li><a href="{% url 'all_antiquities' %}">All Categories</a></li>

                {% for category in categories %}

                <li><a href="{% url 'all_antiquities' %}?category={{ category.name }}">{{ category.name }}</a></li>

                {% endfor %}

            </ul>
        </div>
    </div>

    <!-- ##### Single Widget ##### -->
    <div class="widget brands mb-50">
        <!-- Periods -->
        <h6 class="widget-title mb-30">Periods</h6>

        <div class="catagories-menu">
            <ul>
                <li><a href="{% url 'all_antiquities' %}">All Periods</a></li>

                {% for period in periods %}

                <li><a href="{% url 'all_antiquities' %}?period={{ period.name }}">{{ period.name }}</a></li>

                {% endfor %}

            </ul>
        </div>
    </div>

    <!-- ##### Single Widget ##### -->
    <div class="widget price mb-50">
        <!-- Donation Value -->
        <h6 class="widget-title mb-30">Donation Value</h6>

        <div class="widget-desc">
            <div class="slider-range">
                <div data-min="10" data-max="400" data-unit="$"
                    class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
                    data-value-min="10" data-value-max="1000" data-label-result="">

                    <div class="ui-slider-range ui-widget-header ui-corner-all"></div>

                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>

                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                </div>

                <div class="range-price">€10 - €400</div>
            </div>
        </div>
    </div>
</div>

<div class="amado_product_area section-padding-100">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="product-topbar d-xl-flex align-items-end justify-content-between">
                    <!-- Total Products -->
                    <div class="total-products golden-text">
                        <!-- Change font-colour to gold -->
                        <p>Showing 1-8 0f 40</p>
                        <div class="view d-flex">
                            <a href="#"><i class="fa fa-th-large" aria-hidden="true"></i></a>
                            <!-- <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a> -->
                        </div>
                    </div>
                    <!-- Sorting -->
                    <div class="product-sorting d-flex">
                        <div class="sort-by-date d-flex align-items-center mr-15">
                            <p>Sort by&nbsp;</p>

                            <!-- Not working!! NB -->
                            <!-- Use Dropdown with a tags -->
                            <form action="{% url 'view_bag' %}" method="GET">
                                <select name="select" id="sortBydate">
                                    <option href="{% url 'all_antiquities' %}?sort=value&direction=asc">Value (Low to
                                        High)</option>

                                    <option href="{% url 'all_antiquities' %}?sort=value&direction=desc">Value (High to
                                        Low)</option>

                                    <option href="{% url 'all_antiquities' %}?sort=name&direction=asc">Name (A-Z)
                                    </option>

                                    <option href="{% url 'all_antiquities' %}?sort=name&direction=asc">Name (Z-A)
                                    </option>
                                    <!-- Possible Date sorting, needs calculation of relative date for each item -->
                                    <!-- <option href="{% url 'all_antiquities' %}?sort=date&direction=asc">Date (Low to High)</option>
                                    <option href="{% url 'all_antiquities' %}?sort=date&direction=desc">Date (High to Low)</option> -->
                                </select>
                            </form>
                        </div>

                        <div class="view-product d-flex align-items-center">
                            <p>View</p>
                            <form action="#" method="get">
                                <select name="select" id="viewProduct">
                                    <option value="value">8</option>

                                    <option value="value">16</option>

                                    <option value="value">32</option>
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            {% for antiquity in antiquities %}

            <!-- Single Antiquity Area -->
            <div class="col-12 col-sm-6 col-md-12 col-xl-6">
                <div class="single-product-wrapper">
                    <!-- Antiquity Image -->
                    <div class="product-img">

                        {% if antiquity.image %}
                        <a href="{% url 'single_antiquity' antiquity.id %}">
                            <img src="{{ antiquity.image.url }}" alt="{{ antiquity.name }}">
                            <!-- Hover Thumb -->
                            <img class="hover-img" src="{{ antiquity.image.url }}" alt="{{ antiquity.name }}">
                        </a>

                        {% else %}

                        <img src="{% static 'images/core_img/no_image_1.jpg' %}" alt="{{ antiquity.name }}">

                        {% endif %}

                    </div>

                    <!-- Antiquity Description -->
                    <div class="product-description d-flex align-items-center justify-content-between">
                        <!-- Antiquity Meta Data -->
                        <div class="product-meta-data">
                            <div class="line"></div>

                            <p class="product-price">€{{ antiquity.value }}</p>

                            <a href="{% url 'single_antiquity' antiquity.id %}">
                                <h6>{{ antiquity.name }}</h6>
                            </a>
                        </div>
                        <!-- Date & Cart -->
                        <div class="ratings-cart text-right">
                            <div class="ratings golden-text">
                                <p>{{ antiquity.date }}</p>
                            </div>

                            <form class="cart" action="{% url 'add_to_bag' antiquity.id %}" method="POST">

                                {% csrf_token %}

                                <div class="form-group text-right m-0 p-0">
                                    <input type="hidden" class="form-control qty_input" name="quantity" value="1"
                                        min="1" max="10" data-item_id="{{ antiquity.id }}"
                                        id="id_qty_{{ antiquity.id }}">
                                </div>

                                <button class="add-to-cart-btn add-cursor" type="submit" data-toggle="tooltip"
                                    data-placement="left" title="Add to Cart"><img
                                        src="{% static 'images/core_img/cart.png' %}" alt=""></button>

                                <input type="hidden" name="redirect_url" value="{{ request.path }}">

                            </form>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>

        <div class="row">
            <div class="col-12">
                <!-- Pagination -->
                <nav aria-label="navigation">
                    <ul class="pagination justify-content-end mt-50">
                        <li class="page-item active"><a class="page-link" href="#">01.</a></li>

                        <li class="page-item"><a class="page-link" href="#">02.</a></li>

                        <li class="page-item"><a class="page-link" href="#">03.</a></li>

                        <li class="page-item"><a class="page-link" href="#">04.</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- All Antiquities Area End -->

{% endblock %}