{% extends "base.html" %}

{% load static %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">

{% endblock %}

{% block content %}

<div class="cart-table-area section-padding-100">
    <div class="container-fluid">
        <div class="row">

            <!-- Profile Section -->
            <div class=" col-12 col-lg-6 order-2 order-lg-1">
                <div class="checkout_details_area mt-50 clearfix">
                    <div class="cart-title">
                        <h2>My Profile</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}