/* My own custom styles are added below */

/* Base Template Styles */

#add-product-btn {
    background-color: #a5a7aa;
    transition: all ease-in 0.3s;
}

#add-product-btn:hover {
    background-color: #5e7ca7;
}

#add-product-btn:focus {
    background-color: #263549;
}

.profile-button {
    background-color: #616060;
}

.profile-button:hover {
    background-color: #464444;
}

.profile-button:focus {
    background-color: #000;
}

@media (min-width: 992px) {
    .main-content-wrapper .header-area .logo {
        width: 13.5em;
    }
}


/* General Styles */

.add-cursor {
    cursor: pointer;
}

.cart-fav-search a #total-text {
    color: #fbb710;
}


/* Toast Styles */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.toast-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0.5em;
    border-radius: 5px;
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


/* Main Page Styles */

#landing-page-section {
    min-height: 90vh;
    position: relative;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-image: url('/static/images/core_img/landing_page_bg.jpg');
}

#main-logo-col {
    top: 5vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#main-logo-col p {
    color: #fff;

}

@media (min-width: 1500px) {
    #main-logo-col {
        top: 7vh;
    }

    #main-logo-col p {
        padding-left: 4em;
        padding-right: 4em;
    }
}

@media (min-width: 992px) {
    #main-logo-col {
        top: 5vh;
    }
}

@media (max-width: 767px) {
    #landing-page-section {
        background-attachment: fixed;
    }

    #main-logo-col p {
        font-size: 0.8em;
    }

    #main-logo-col .btn {
        min-width: 110px;
        height: 48px;
        font-size: 15px;
        line-height: 50px;
    }
}

/* Latest Options Styles */

.single-products-catagory .hover-content .donation-text {
    color: #cfc0c0;
}

.single-products-catagory .hover-content .option-title {
    color: #e4e4e4;
}

.single-products-catagory .hover-content {
    max-width: 68%;
}

.single-products-catagory .hover-content h5 {
    max-width: 60%;
}

/* All Antiquities Styles */

.product-topbar .golden-text p,
.golden-text p {
    color: #fbb710;
}

.ratings-cart form .add-to-cart-btn {
    border: none;
    background-color: transparent;
}

/* Single Antiquity Styles */

.main-content-wrapper .single-product-area .single_product_desc .cart .quantity-heading {
    background-color: transparent;
}

/* Cart Styles */

.cart .form-row .col-12 .input-group {
    width: 30%;
    margin-left: 0.7em;
}

/* Checkout Styles */

.cart-table-area .checkout_details_area .golden-text {
    color: #fbb710;
}

.cart-table-area .checkout_details_area .centered-text {
    text-align: center;
}

.order-details-container {
    background-color: #f5f7fa;
    padding: 30px 20px;
}

.checkout_details_area #payment-form #country-field #div_id_country .nice-select {
    width: 100%;
    padding: 0 0 0 2.4em;
}

.checkout_details_area #payment-form #country-field #div_id_country .nice-select .list {
    overflow: scroll;
    max-height: 50em;
    z-index: 99999;
}

/* Allauth Styles */

.allauth-form-inner-content {
    padding: 0;
    margin: 0;
}

.allauth-form-inner-content #allauth-bg {
    background-color: #f5f7fa;
    padding: 2em;
}

@media (max-width: 767px) {
    .allauth-form-inner-content #allauth-bg {
        margin: 0 1em 2em 1em;
    }
}

.allauth-form-inner-content #allauth-bg div {
    margin-bottom: 1em;
}

.allauth-form-inner-content input {
    border-radius: 0;
}

.allauth-form-inner-content .golden-text {
    color: #fbb710;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}


/* Profile Page Styles */

.cart-table-area .checkout_details_area .golden-text h2 {
    color: #fbb710;
}

.cart-table-area .row #profile-update-form #div_id_default_country .nice-select {
    width: 100%;
    padding: 0 0 0 1em;
    color: #495057;
    font-size: medium;
}

.cart-table-area .row #profile-update-form #div_id_default_country .nice-select .list {
    overflow: scroll;
    max-height: 30em;
    z-index: 99999;
}

/* Add Antiquity Styles */

.cart-table-area .checkout_details_area form .add-antiquity-row div {
    width: 100%;
}

.cart-table-area .checkout_details_area form .add-antiquity-row #div_id_category .nice-select {
    width: 100%;
    padding-top: 0;
}

.cart-table-area .checkout_details_area form .add-antiquity-row #div_id_category .nice-select .current  {
    color: #495057;
    font-size: medium;
}

.cart-table-area .checkout_details_area form .add-antiquity-row #div_id_category .nice-select .list {
    overflow: scroll;
}