{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- Latest Options Area Start -->
<div class="products-catagories-area clearfix">
    <div class="amado-pro-catagory clearfix">

        {% for option in latest_options %}

        {% if forloop.counter <= 8 %}

        <!-- Latest Option -->
        <div class="single-products-catagory clearfix">
            <a href="{% url 'single_antiquity' option.antiquity_id %}">
                <img src="{{ option.image.url }}" class="h-auto" alt="Latest Option {{ forloop.counter }}">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <p class="donation-text">Donation €{{ option.value }}</p>
                    <h4 class="option-title">{{ option.name }}</h4>
                </div>
            </a>
        </div>

        {% else %}

        <!-- Latest Option Number 9: Displays on XL only -->
        <div class="d-none d-xl-block single-products-catagory clearfix">
            <a href="{% url 'single_antiquity' option.antiquity_id %}">
                <img src="{{ option.image.url }}" class="h-auto" alt="Latest Option 9">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <p class="donation-text">Donation €{{ option.value }}</p>
                    <h4 class="option-title">{{ option.name }}</h4>
                </div>
            </a>
        </div>

        {% endif %}

        {% endfor %}

    </div>
</div>
<!-- Latest Options Area End -->

{% endblock %}