{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- Latest Options Area Start -->
<div class="products-catagories-area clearfix">
    <div class="amado-pro-catagory clearfix">

        <!-- Single Antiquity -->
        <div class="single-products-catagory clearfix">
            <a href="{% url 'all_antiquities' %}">
                <img src="{% static 'images/latest_options/latest_option1.jpg' %}" alt="Latest Option 1">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <p class="donation-text">Donation €40</p>
                    <h4 class="option-title">Sutton Hoo Helmet</h4>
                </div>
            </a>
        </div>

        <!-- Single Antiquity -->
        <div class="single-products-catagory clearfix">
            <a href="{% url 'all_antiquities' %}">
                <img src="{% static 'images/latest_options/latest_option2.jpg' %}" alt="Latest Option 2">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <p class="donation-text">Donation €260</p>
                    <h4 class="option-title">Luxor</h4>
                </div>
            </a>
        </div>

        <!-- Single Antiquity -->
        <div class="single-products-catagory clearfix">
            <a href="{% url 'all_antiquities' %}">
                <img src="{% static 'images/latest_options/latest_option3.jpg' %}" alt="Latest Option 3">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <p class="donation-text">Donation €280</p>
                    <h4 class="option-title">Machu Picchu</h4>
                </div>
            </a>
        </div>

        <!-- Single Antiquity -->
        <div class="single-products-catagory clearfix">
            <a href="{% url 'all_antiquities' %}">
                <img src="{% static 'images/latest_options/latest_option4.jpg' %}" alt="Latest Option 4">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <p class="donation-text">Donation €100</p>
                    <h4 class="option-title">Stonehenge</h4>
                </div>
            </a>
        </div>

        <!-- Single Antiquity -->
        <div class="single-products-catagory clearfix">
            <a href="{% url 'all_antiquities' %}">
                <img src="{% static 'images/latest_options/latest_option5.jpg' %}" alt="Latest Option 5">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <p class="donation-text">Donation €40</p>
                    <h4 class="option-title">Book of Kells</h4>
                </div>
            </a>
        </div>

        <!-- Single Antiquity -->
        <div class="single-products-catagory clearfix">
            <a href="{% url 'all_antiquities' %}">
                <img src="{% static 'images/latest_options/latest_option6.jpg' %}" alt="Latest Option 6">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <p class="donation-text">Donation €40</p>
                    <h4 class="option-title">Astrolobe</h4>
                </div>
            </a>
        </div>

        <!-- Single Antiquity -->
        <div class="single-products-catagory clearfix">
            <a href="{% url 'all_antiquities' %}">
                <img src="{% static 'images/latest_options/latest_option7.jpg' %}" alt="Latest Option 7">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <p class="donation-text">Donation €70</p>
                    <h4 class="option-title">Maoi</h4>
                </div>
            </a>
        </div>

        <!-- Single Antiquity -->
        <div class="single-products-catagory clearfix">
            <a href="{% url 'all_antiquities' %}">
                <img src="{% static 'images/latest_options/latest_option8.jpg' %}" alt="Latest Option 8">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <p class="donation-text">Donation €40</p>
                    <h4 class="option-title">Rosetta Stone</h4>
                </div>
            </a>
        </div>

        <!-- Single Antiquity -->
        <div class="single-products-catagory clearfix">
            <a href="{% url 'all_antiquities' %}">
                <img src="{% static 'images/latest_options/latest_option9.jpg' %}" alt="Latest Option 9">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <p class="donation-text">Donation €80</p>
                    <h4 class="option-title">Uluru</h4>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- Latest Options Area End -->

{% endblock %}